<!DOCTYPE html>
<html>
  <head>
    <title>TicketingApp</title>
    <%= render "layouts/shared/headers" %>
  </head>

  <body>
    <%= render 'layouts/shared/noticed' %>
    <%= yield %>
  </body>
</html>
